* {
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: center;
  cursor: default;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: fixed;
  width: 100%;
}

a,
button,
input,
textarea {
  outline: none;
}

input,
textarea {
  border-radius: 0;
  margin: 0;
  padding: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

button::-moz-focus-inner {
  border: 0;
}

::-webkit-input-placeholder {
  color: #AAA;
}

::-moz-placeholder {
  color: #AAA;
  opacity: 1
}

input:-ms-input-placeholder {
  color: #AAA;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.scola.item.menu.selected>*,
.scola.item.menu.selected+.scola.item>*,
tr.selected+tr .scola.item.menu>* {
  border-top-color: #007AFF !important;
}

.scola.item.menu.selected>* {
  color: #FFF !important;
}

.scola.control.button.disabled,
.scola.item.disabled,
.scola.item.disabled .scola.button button,
.scola.item.disabled .scola.switch .scola.area,
.scola.scroller.disabled {
  cursor: default !important;
}

.scola.control.button.main:active:not(.disabled):not(.toggle),
.scola.control.button.main.disabled button,
.scola.item.button.disabled button,
.scola.item.disabled .scola.button button,
.scola.item.disabled .scola.icon div,
.scola.item.disabled .scola.input input,
.scola.item.disabled .scola.scroller .scola.scroller,
.scola.item.disabled .scola.switch .scola.area,
.scola.item.disabled .scola.text button,
.scola.link:active,
.scola.list .scola.title.click:active {
  opacity: 0.5;
}

.scola.item.button:active:not(.disabled),
.scola.item.check:active:not(.disabled),
.scola.item.nav:active:not(.disabled),
.scola.item.radio:active:not(.disabled),
.scola.pop .scola.body .scola.buttons .scola.button:active,
.scola.table.click tbody tr:not(.message):active {
  background: #CCC !important;
}

.scola.table.item tbody tr:active+tr .scola.item.button>*,
.scola.table.item tbody tr:active+tr .scola.item.check>*,
.scola.table.item tbody tr:active+tr .scola.item.nav>*,
.scola.table.item tbody tr:active+tr .scola.item.radio>*,
.scola.item.check:active:not(.disabled)+.scola.item>*,
.scola.item.nav:active:not(.disabled)+.scola.item>*,
.scola.item.radio:active:not(.disabled)+.scola.item>* {
  border-top-color: inherit !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .scola.control.bar.inline,
  .scola.control.button.inline .scola.border,
  .scola.control.button.inline .scola.border,
  .scola.control.bar.main .scola.top,
  .scola.graph .scola.body,
  .scola.list,
  .scola.list .scola.body,
  .scola.menu,
  .scola.item>*,
  .scola.panel .scola.footer,
  .scola.panel .scola.header,
  .scola.pop .scola.buttons .scola.button,
  .scola.pop .scola.buttons .scola.button .scola.border,
  .scola.table .scola.body,
  .scola.table th,
  .scola.table td {
    border-width: 0.5px !important;
  }
}

@media only screen and (min-width: 64em) {
  .scola.control.button:not(.disabled) button:not([tabindex="-1"]):focus,
  .scola.item.button:not(.disabled) button:not([tabindex="-1"]):focus,
  .scola.item:not(.disabled) .scola.button button:not([tabindex="-1"]):focus,
  .scola.item:not(.disabled) .scola.switch button:not([tabindex="-1"]):focus,
  .scola.item:not(.disabled) .scola.text button:not([tabindex="-1"]):focus,
  .scola.item.date .scola.select button:not(.disabled):focus,
  .scola.pop .scola.button button:focus,
  .scola.scroller:not(.disabled) button:not([tabindex="-1"]):focus {
    border: 1px dotted #000 !important;
  }
}

.scola.icon div:before,
.scola.control.button button:before,
.scola.item .scola.button button:before,
.scola.item .scola.icon button:before {
  display: block;
  width: 100%;
}

.ion-load-d:before,
.ion-ios-arrow-thin-right:before {
  margin-top: -1px
}

.ion-load-d:before {
  animation: spin 1s infinite linear;
}

*[dir=rtl] .scola.item .scola.switch .scola.area,
*[dir=rtl] .ion-ios-arrow-back:before,
*[dir=rtl] .ion-ios-arrow-forward:before,
*[dir=rtl] .ion-ios-arrow-thin-right:before {
  transform: rotateY(180deg);
}

.leaflet-container * {
  font-size: 12px;
}

.scola.graph.maximized {
  left: 0;
  padding: 0 !important;
  position: fixed;
  top: 0;
  z-index: 2;
}

.scola.graph.maximized .scola.body {
  border-radius: none !important;
}

.scola.panel.maximized fieldset>div>.scola.control.bar.main {
  display: none;
}

@media only screen and (orientation:portrait) {
  .scola.graph.maximized {
    transform: rotate(-90deg);
    transform-origin: top left;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@media all and (-ms-high-contrast: none) {
  .ion-ios-arrow-thin-right:before,
  .ion-load-d:before {
    margin-top: 3px;
  }
}

@media all and (-ms-high-contrast: active) {
  .ion-ios-arrow-thin-right:before,
  .ion-load-d:before {
    margin-top: 3px;
  }
}

@supports (-ms-ime-align:auto) {
  .ion-ios-arrow-thin-right:before,
  .ion-load-d:before {
    margin-top: 0;
  }
}
